<% include ../header.ejs %>

<div class="caixa container-fluid">
	<div class="col-12 txt-center">
		<h3>Detalhes da Reserva</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<button class="btn btn-danger" onclick="deletar( <%= reserva.idReserva %> )">Cancelar</button>
			</div>
		</div>
	</div>
	<form action="/reserva-update" method="POST">
		<input type="hidden" name="idReserva" value="<%= reserva.idReserva %>">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Data</label>
					<input class="form-control" type="date" name="dataReserva" maxlength="10" value="<%= reserva.dataReserva %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Usuário</label>
					<select class="form-control" name="idUsuario">
						<% listaUsuario.forEach( item => { %>
							<option value="<%= item.idSala %>" <%= (reserva.idUsuario == item.idUsuario ? 'selected' ? '') %> ><%= item.nome %> <%= item.sobrenome %></option>
						<% }); %>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Sala</label>
					<select class="form-control" name="idSala">
						<% listaSala.forEach( item => { %>
							<option value="<%= item.idSala %>" <%= (reserva.idSala == item.idSala ? 'selected' ? '') %> ><%= item.tipoSala %>: <%= item.local %> <%= item.numero %></option>
						<% }); %>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<input class="btn btn-success" type="submit" name="Editar">
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	function deletar( id ) {
		$.ajax({
		    type: 'POST',
		    url: '/reserva-delete',
		    data: {
		    	idReserva: id
		    },
		    dataType: 'json',
		    success: function (retorno) {
		    }
		});
	}
</script>

<% include ../footer.ejs %>