<% include ../header.ejs %>

<div class="caixa container-fluid">
	<div class="col-12 txt-center">
		<h3>Detalhes da Usuario</h3>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<button class="btn btn-danger" onclick="deletar( <%= usuario.idUsuario %> )">Deletar</button>
			</div>
		</div>
	</div>
	<form action="/usuario-update" method="POST">
		<input type="hidden" name="idUsuario" value="<%= usuario.idUsuario %>">
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>CPF</label>
					<input class="form-control" type="text" name="cpf" maxlength="14" value="<%= usuario.cpf %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Nome</label>
					<input class="form-control" type="text" name="nome" maxlength="45" value="<%= usuario.nome %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Sobrenome</label>
					<input class="form-control" type="text" name="sobrenome" maxlength="45" value="<%= usuario.sobrenome %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Departamento</label>
					<input class="form-control" type="text" name="departamento" maxlength="45" value="<%= usuario.departamento %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Função</label>
					<input class="form-control" type="text" name="funcao" maxlength="45" value="<%= usuario.funcao %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<label>Senha</label>
					<input class="form-control" type="password" name="senha" maxlength="45" value="<%= usuario.senha %>">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<input class="btn btn-success" type="text" name="Editar">
				</div>
			</div>
		</div>
	</form>
</div>

<script>
	function deletar( id ) {
		$.ajax({
		    type: 'POST',
		    url: '/usuario-delete',
		    data: {
		    	idUsuario: id
		    },
		    dataType: 'json',
		    success: function (retorno) {
		    }
		});
	}
</script>

<% include ../footer.ejs %>